
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <p>This is the list of my A;; books</p>
    <button>Click me</button>
</body>
</html>
